/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.wraper {
  width: 500px;
  border: 20px solid #A8CCD5;
  padding: 0px 10px
}

h1,
legend {
  color: #4c8dd0;
}

h1 {
  font-weight: 600;
  font-size: 36px;
}

legend {
  font-weight: 400;
  font-size: 24px;
}

p,
label,
span {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #646e72;
}

hr {
  margin: 0px 20px 0px 20px;
}
.custom-circle-counter {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}

.custom-circle-counter li {
  counter-increment: circle-counter;
}

.custom-circle-counter li::before {
  content: counter(circle-counter);
  margin-right: 5px;
  font-size: 18px;
  font-family: Georgia, serif;
  background-color: white;
  color: #4c8dd0;
  font-weight: bold;
  padding: 3px 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  left: 8px;
  margin-top: -5px;
}

h1,
p,
fieldset {
  /*   width: 440px; */
  padding: 0px 30px 0px 30px;
}

fieldset {
  margin: 0px 0px 25px 0px;
}

fieldset > div {
  padding: 0px 20px 20px 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #f2f3f4;
  overflow: hidden;
}

input,
select {
  height: 40px;
  border: 1px solid #4c8dd0;
  border-radius: 3px;
  margin: 0px 0px 10px 0px;
}

input {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 0px 0px 10px;
  box-shadow: inset rgba(100, 110, 114, 0.33) 0 2px 3px;
}

select {
  box-shadow: rgba(100, 110, 114, 0.33) 0 2px 3px;
}

label {
  display:block;
  margin: 20px 0px 0px 0px;
}

.inlineLabel {
  display: inline-block;
  margin: 0px 0px 0px 0px;
}

.creditCardNumber {
  width: 218px;
  margin: 0px 4px 30px 0px;
}
.img {
  display: inline-block;
  color: transparent;
}

.radioButton + label {
  opacity: 0.5;
}

.radioButton:checked + label {
  opacity: 1;
}
.radioButton + #amexLabel {
  background: url("../img/cc-icon-amex.png") no-repeat;
  height: 24px;
  width: 40px;
  display: inline-block;
}

.radioButton + #visaLabel {
  background: url("../img/cc-icon-visa.png") no-repeat;
  height: 24px;
  width: 40px;
  display: inline-block;
}

.radioButton + #discoverLabel {
  background: url("../img/cc-icon-discover.png") no-repeat;
  height: 24px;
  width: 40px;
  display: inline-block;
}

.radioButton + #masterCardLabel {
  background: url("../img/cc-icon-mastercard.png") no-repeat;
  height: 24px;
  width: 40px;
  display: inline-block;
}

.securityCode {
  width: 130px;
  margin: 0px 20px 0px 0px;
}

.secondPart {
  margin: 0px 0px 0px 56px;
}

.creditCardMonth {
  width: 160px;
  margin: 0px 10px 0px 0px
}

.creditCardYear {
  width: 80px;
}

.websiteAddress {
  position: relative;
}

.websiteAddress span {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #F2F3F4;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-topright: 3px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  padding: 10px 10px 6px 10px;
  border-top:    1px solid #4c8dd0;
  border-right: 1px solid #4c8dd0;
  border-bottom: 1px solid #4c8dd0;
}

button {
  width: 100%;
  height: 50px;
  background-color: #4f8ece;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 3px;
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
}
.submitButton {
  margin: 30px 30px 30px 30px;
}

button:disabled {
  opacity: 0.5;
}

#revealPassword input {
  display: none;
}

#revealPassword input + label {
  vertical-align: middle;
  background: url('../img/checkbox_unchecked.png') no-repeat;
  height: 20px;
  width: 20px;
  display: inline-block;
  padding: 0px 0px 0px 0px;
}

#revealPassword input:checked + label {
  background: url('../img/checkbox_checked.png') no-repeat;
  height: 20px;
  width: 20px;
  display: inline-block;
  padding: 0px 0px 0px 0px;
}

.check_box {
  height: auto;
  width: auto;
  display: inline-block;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after,
  *:first-letter,
  *:first-line {
    background: transparent !important;
    color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}